<header>
  <div id="title">
    <div id="circle">
      <span>Medcompany</span>
    </div>
  </div>
  <h6>Medcompany Efficacy Study</h6>
</header>

<div class="container">
  <fieldset>
    <h3>Voluntary Participation</h3>
    <p class="center">Participation in this study is voluntary. If you do not wish to partcipate, there will be no penatly of any kind.</p>
    <p class="center">To confirm your inherit to enroll in this study, please complete the form below.</p>
    <form class="center" action="#" method="post">
      <div class="row">
        <div class="six columns">
          <label for="firstName">First Name</label>
          <input class="u-full-width" type="text" placeholder="John" id="firstName">
        </div>
        <div class="six columns">
          <label for="lastName">Last Name</label>
          <input class="u-full-width" type="text" placeholder="Doe" id="lastName">
        </div>
      </div>
      <label for="cityName">What city were you born in?</label>
      <input class="u-full-width" type="text" placeholder="City Name" id="cityName">
      <label class="consent-to-participate">
        <input type="checkbox">
        <span class="label-body">I consent to participate in the study</span>
      </label>
      <div class="row">
        <input class="two columns arrow left" type="button">
        <input class="ten columns" type="button" value="Complete the form to continue enrollment">
      </div>
    </form>
  </fieldset>
</div>

<footer>
  <a href="#">Contact Us</a>
  <a href="#">Logo</a>
</footer>